@mixin font-size($val) {
  $rem: ($val/10);

  font-size: $val + px;
  font-size: $rem + rem;

}

@mixin line-height($val) {
  $rem:  ($val / 10);

  line-height:  $val + px;
  line-height:  $rem + rem;
}

@mixin margin-top($val) {
  $rem:  ($val / 10);

  margin-top: $val + px;
  margin-top: $rem + rem;
}

@mixin margin-right($val) {
  $rem:  ($val / 10);

  margin-right: $val + px;
  margin-right: $rem + rem;
}

@mixin margin-bottom($val) {
  $rem:  ($val / 10);

  margin-bottom: $val + px;
  margin-bottom: $rem + rem;
}

@mixin margin-left($val) {
  $rem:  ($val / 10);

  margin-left: $val + px;
  margin-left: $rem + rem;
}

@mixin margin($t, $r, $b, $l) {
  $t-rem:  ($t / 10);
  $r-rem:  ($r / 10);
  $b-rem:  ($b / 10);
  $l-rem:  ($l / 10);

  margin:  $t + px $r + px $b + px $l + px;
  margin:  $t-rem + rem $r-rem + rem $b-rem + rem $l-rem + rem;
}

@mixin padding-top($val) {
  $rem:  ($val / 10);

  padding-top:  $val + px;
  padding-top:  $rem + rem;
}

@mixin padding-right($val) {
  $rem:  ($val / 10);

  padding-right:  $val + px;
  padding-right:  $rem + rem;
}

@mixin padding-bottom($val) {
  $rem:  ($val / 10);

  padding-bottom:  $val + px;
  padding-bottom:  $rem + rem;
}

@mixin padding-left($val) {
  $rem:  ($val / 10);

  padding-left:  $val + px;
  padding-left:  $rem + rem;
}

@mixin padding($t, $r, $b, $l) {
  $t-rem:  ($t / 10);
  $r-rem:  ($r / 10);
  $b-rem:  ($b / 10);
  $l-rem:  ($l / 10);

  padding:  $t + px $r + px $b + px $l + px;
  padding:  $t-rem + rem $r-rem + rem $b-rem + rem $l-rem + rem;
}