# Development
/build
/data
/logs

# Dependencies
/vendor

# OS / IDE
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.sass-cache
*~
.DS_Store
.DS_STORE
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
nbproject
Thumbs.db
.svn
.CVS
.idea
origin

# Logging
nohup.out
*.log

