// Groupon Color Palette:
// Primary Palette:
$green-groupon:       #82b548; // PMS 369 C
$blue-groupon:        #4bc1de; // PMS 2985 C
$black-groupon:       #2d2926; // PMS Black C

// Secondary Palette:
$orange:              #E35205; // PMS 166 C
$red:                 #BA0C2F; // PMS 200 C
$purple:              #514689; // PMS 7671 C
$blue-light:          #88E2FE; // PMS 2985 C
$pink:                #C5299B; // PMS 240 C
$blue:                #0076A8; // PMS 7690 C
$yellow:              #F2A900; // PMS 130 C

// Neutral Palette:
$grey:                #75787b; // PMS Cool Gray 9 C
$grey-light:          #c4bfb6; // PMS 400 C
$khaki:               #f1e6b2; // PMS 7499 C
$tan:                 #d5cb9f; // PMS 4545 C
$brown-grassroots:    #8d6a00; // Grass Roots
$white:               #FFFFFF; // PMS White C

// Web Palette: @TODO - Clean up grey palettes. Too many currently.
$green-dark-web:      #51702E;
$grey-light-web:      #cccccc;
$grey-medium-web:     #949494;
$grey-dark-web:       #383b3E;

// Social
$facebook:            #3b5998;
$twitter:             #00a0d1;
$google-plus:         #db4a39;
$linkedin:            #0e76a8;
$pinterest:           #c8232c;
$rss:                 #ee802f;

// Status Colors
$primary:             $blue-groupon;
$info:                $blue-light;
$success:             $green-groupon;
$caution:             $yellow;
$warning:             $orange;
$error:               $red;
$inverse:             $grey;

// Page Element Colors
$col-bg:              $white;
$col-text:            $grey-dark-web;

$col-h1:              $green-groupon;
$col-h2:              $black-groupon;
$col-h3:              $grey;
$col-h4:              $grey;
$col-h5:              $black-groupon;
$col-h6:              $grey;

$col-link:            $blue;
$col-link-hover:      $blue;

$col-input:           $grey;

$col-head-bg:         $green-groupon;
$col-head-text:       $green-dark-web;
$col-head-link:       $white;
$col-head-link-hover: $white;

$col-foot-bg:         $grey-dark-web;
$col-foot-text:       $grey-light;
$col-foot-link:       $grey-light;
$col-foot-link-hover: $grey-light;